<h1>About</h1>

<p>
<img height="25%", width="25%" src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xap1/t1.0-9/551456_10151554183491461_1493337939_n.jpg" />
</p>

<h2>Jay Liu</h2>
<p>Some about me text or title should go here...?</p>

<%= link_to 'Facebook', 'https://www.facebook.com/actjksn' %>
<%= link_to 'Twitter', 'https://www.twitter.com/actjksn' %>